# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# Generated Prisma Client
src/generated/prisma/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/